<div class="container text-center">
    <h1>About page</h1>
    <p><h3>A personal website is a group of Web pages that someone creates about 
    themselves. It basically contains things that are personal. It doesn't have 
    to be about you, and it doesn't have to contain personal information but it 
    does need to be personal. This personal website shows contents of my 
    thoughts, ideas, interests, hobbies, feelings, 
    and things I feel strongly about. This Personal website was created 
    for my senior project and to satisfy Mr. Blocks need to ruin my life.</h3></p>
    <hr>
    <img src=https://cdn.patchcdn.com/users/5909/2009/12/T800x600/8608a4abe1f2d21e3ef68b7a0065688d.jpg>
    <p>Mr.Block doing a terrible coaching job</p>
</div>