

<body style="background-color:white;"    
<center>
    <ul class="cb-slideshow text-center">
        <li><span><img src=http://www.nmgncp.com/data/out/155/4918073-game-of-thrones-gta-wallpaper.png>Image 01</span></li>
        <li><span><img src=http://wallpapercave.com/wp/hUukl3e.jpg>Image 02</span></li>
        <li><span><img src=http://www.alabamaroadrunnersmgm.com/files/3714/2371/7647/IMG_9657.jpg>Image 03</span></li>
        <li><span><img src=https://images6.alphacoders.com/681/681813.jpg>Image 04</span></li>
        <li><span><img src=http://entertainmentland.ca/wp-content/uploads/2017/03/PulpFiction_Gimp.jpg>Image 05</span></li>
        <li><span><img src=<li><span><img src=http://www.rap-wallpapers.com/wp-content/uploads/2015/01/tyler-the-creator-wallpapers-25.png>Image 06</span></li>
    </ul>
	
	<div class=container>
	    <div id=hob-head class=jumbotron>
        <h1>What I do when Im not doing School Work </h1>
        <ul id=hobbies><h4>
            <li>Watching Television</li>
            <li>Playing Video Games</li>
            <li>Watching Movies</li>
            <li>Playing Basketball</li>
            <li>Sleeping</li>
            </h4>
        </ul>
    </div>
   <h4> <p class=thick>&emsp;&emsp;Life without a hobby is like food without the salt. It is a hobby which makes living interesting. A hobby gives one joy and pleasure; you does not get tired of it. It is a pastime, leisure. In this way, while one is learning something, he is also making best use of his time. 

There are many hobbies like drawing, painting, gardening, stamp collecting, photography, reading, sewing, crafts, embroidery, knitting, cooking, pet care, coin collecting, etc. My favorite hobbies are Computers, Writing, and Reading.

When I am able to create a program that is useful to many people it gives me a sense of fufillment. I also enjoy reading to expand my knowledge of life and skills. It gives me satisfaction and helps in keeping myself active and 
The complex vocabulary and immersive stories are the tonics for the mind.

Another hobby which I pursue is Writing. It is a pleasure to write about everything I see. My father often reads my stories and critiques them. 

I enjoy the critisism so I can improve as an author. </p>
<hr>
<p class=thick>&emsp;&emsp; Intrests can usually be construed by the curious mind. Intrests are the motivation one needs to learn about anything. Personally I have intrests in Movies and video games. One great thing with a movie is that it is the combination of so many arts. Sound design, Cinematography, Music, Editing, Storytelling, Acting and integrating all these things together to express and idea is itself is an art form. I am not just watching a story on screen, I am experiencing art. 
 
The second thing is that movies have this power to transport us to some faraway place in the world or to an altogether different century in the past. It makes us vicariously experience a character’s life whose personality could be completely different from ours. We can look at life from that movie character's point of view. I wouldn't have known what it is to be an old man suddenly faced with existential crisis if I had not seen Ikiru. Movies help me relate and empathize with others. Lastly, Video Games are 
a great hobby and intrest, increasing critical thinking and problem solving Not all, but most of the games we play now a days, challenge your mind to become more creative and active at all times. Be that any game. If it’s CS, you will have to manage your resources within given budget, so buying the best resources to survive. Be that Minecraft, as you have to gather and make your own survival
world right from the scratch, or be that Skyrim, where you will have to carry the limited but specific weaponry and magic powers, so it teaches you to be selective. And the list goes on.</p>
</h4>
</div>
</center>