<div class="container text-center">
<h1>achievements page</h1>
    <p>
        <ul>
            <li>First job at 14</li>
            <li>Built computer at 15</li>
            <li>Learners Permit at 16</li>
            <li>Passed Junior year</li>
            <li>Passed driving test</li>
            <li>First car: 1999 Oldsmobile Cutlass</li>
            <li>Accepted into SUNY Nassua</li>
            
        </ul>
    </p>
</div>