

<body style="background-color:white;"    
<center>
    <ul class="cb-slideshow">
        <li><span><img src=http://www.nmgncp.com/data/out/155/4918073-game-of-thrones-gta-wallpaper.png>Image 01</span></li>
        <li><span><img src=http://wallpapercave.com/wp/hUukl3e.jpg>Image 02</span></li>
        <li><span><img src=http://wallpapercave.com/wp/A1AdHCf.jpg>Image 03</span></li>
        <li><span><img src=http://wallpapercave.com/wp/wc1680224.jpg>Image 04</span></li>
        <li><span><img src=https://wallpaperscraft.com/image/quentin_tarantino_pulp_fiction_kill_bill_reservoir_dogs_100612_1920x1080.jpg>Image 05</span></li>
        <li><span><img src=<li><span><img src=https://i.redd.it/vrjbuxi408lx.png>Image 06</span></li>
    </ul>
	
	<div class=container>
	    <div id=hob-head class=jumbotron>
        <h1>What I do when Im not doing School Work </h1>
        <ul id=hobbies>
            <li>Watching Television</li>
            <li>Playing Video Games</li>
            <li>Watching Movies</li>
            <li>Playing Basketball</li>
            <li>Sleeping</li>
        </ul>
    </div>
    <p>Life without a hobby is like food without the salt. It is a hobby which makes living interesting. It is a pursuit outside one’s regular work. A hobby gives one joy and pleasure; one does not get tired of it. It is a pastime, relaxation and leisure. In this way, while one is learning something, he is also making best use of his time. 

There are many hobbies like drawing, painting, gardening, stamp collecting, photography, reading, sewing, crafts, embroidery, knitting, cooking, pet care, coin collecting, etc. My favorite hobbies are gardening, coin collecting, photography and traveling.

Gardening gives me immense pleasure. When I saw seed sown by me growing into beautiful plants and blooming flowers, it gives me a great sense of fulfillment. I enjoy tendering my plants and watering my garden every day. It gives me satisfaction and helps in keeping myself active and busy. I grow flowers and vegetables in my garden. The greenery of plants and sweet fragrance of flowers are the tonics for eyes and mind. In a world full of tension and pollution, it is a great relief to see beautiful flowers and lovely plants. 

Another hobby which I pursue is stamp collecting. I have collected hundreds of stamps. It is a pleasure to exchange stamps. I have arranged them in six albums according to the continents. My father who often goes abroad helps me to collect rare stamps. 

Each stamp has a story to tell of distant land, strange peoples and the history of nations. I have made many friends in India and abroad by exchanging stamps. Photography is another hobby which is dear to my heart. It gives me a thrill to capture the visual beauty of the world around me. Whenever I see a beautiful flower or a bird in my garden, I catch her in my memory through the lens of my camera. 

Traveling is my other passion. Whenever I have an opportunity to visit a new place, whether a village, city, mountain or seaside, I never miss it. It is so thrilling to see a new place and meet different kind of people. Whenever I travel round a new place, I take my camera and shot interesting pictures of people, building, monuments, bazaar etc. It gives me immense satisfaction and pleasure. Though these hobbies are expensive, I love them. </p>
</div>
</center>