<div class="wrapper">
    <body>
        <div class="home-callout text-center container-fluid">
            <div id="home-text">
                <h2 class="my-name">Brendan Olcese</h2>
                <h3>Software engineer focused in Web Development and Machine Learning.</h3>
            </div>
                
            <div class="all-projects">
                <div id="nutrition-rec-system">
                    <h2 class="nutrition-name">Nutrition Reccomendation System</h2>
                    <p>Developed a web application using Flask to provide personalized nutritional
                    calculations and recommendations. Users can input their gender, weight, height, age, and daily exercise level to compute
                    their caloric intake and macronutrient needs. The application leverages the cosine similarity algorithm to suggest food
                    items that meet the user's nutritional requirements. Implemented features include user input validation, data processing
                    using NumPy and Pandas libraries, and seamless integration of nutritional data from CSV files.</p>
                </div>
                
                <div id="nutrition-example">
                    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum[d] exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? [D]Quis autem vel eum i[r]ure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?

                    [33] At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem reru[d]um facilis est e[r]t expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellend[a]us. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.  </p>
                </div>
                
                <div id="video-stitcher">
                    <h2 class="stitcher-name">Video Stitcher Application</h2>
                    <p>Utilized the NumPy and Pandas libraries in Python to develop an advanced video
                    stitching application that seamlessly combines two videos of the same landscape. Implemented the KNN (K-Nearest
                    Neighbors) machine learning algorithm to accurately match pixelation in both scenes, ensuring a smooth transition.
                    Leveraged data manipulation and analysis techniques to process and align frames for optimal video merging.
                    </p>
                </div>

                <div id="stitcher-example">
                <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum[d] exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? [D]Quis autem vel eum i[r]ure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?

                    [33] At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem reru[d]um facilis est e[r]t expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellend[a]us. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.  </p>
                
                </div>

                <div id="campus-assistant">
                    <h2 class="campus-name">Campus Navigation Assistant </h2>
                    <p>Led a team of five in designing and developing a mobile application using Flutter that
                    improved student satisfaction by providing convenient and useful tools for campus life. Enhanced user experience by
                    incorporating features such as course/professor reviews, campus navigation, eatery menus with dietary restrictions, and
                    streamlined university resource access, including HR complaints. Personally designed and developed the application's
                    fully functional database using Firestore, ensuring efficient data management and seamless functionality</p>
                </div>

                <div id="campus-example">
                <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum[d] exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? [D]Quis autem vel eum i[r]ure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?

                    [33] At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem reru[d]um facilis est e[r]t expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellend[a]us. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.  </p>
                
                </div>

            </div>

            <div class="resume-section">
                <div id="resume">

                </div>
            </div>

            <div class="contact-form-section">
                <div id="resume">

                </div>
            </div>
            
            



            <!-- <div id="owl-example" class="owl-carousel owl-theme">
                  <div> <img class='owl-item' alt=renato height="320" width="100" src=https://photos-4.dropbox.com/t/2/AAB6eYqJW015xu_zQkoMKg80eybRuROgO-xw_jVzapvHZA/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2055%2014%20PM.jpg/ELiZ-YACGNsKIAcoBw/zpnPPunYEFZ9-732e6_iXLDb2UI7-NXRUi0CYhDkkHQ?size=1280x960&size_mode=3></img> </div>
                  <div> <img class='owl-item' alt=sala height="284" width="100%" src=https://photos-4.dropbox.com/t/2/AABZ2hgF9gB_ai9-jt-d9Ydnj7zPiUmH9ufGEBD0XssFdg/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2048%2036%20PM.jpg/ELiZ-YACGNsKIAcoBw/4kqkLPgw7eNSh5Zug_vJP-EPZ8jHaStUTq1PWZRCC-A?size=1280x960&size_mode=3></img> </div>
                  <div> <img class='owl-item' alt=que height="320" width="100%"  src=https://photos-5.dropbox.com/t/2/AABGxaFIbqPTAiq5G9Lr9cr08eRhb0oiHEL5Y1TXvsCsyQ/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2055%2003%20PM.jpg/ELiZ-YACGNsKIAcoBw/TEcG-FCPVZqKF_XQnCE5ecg62iT_FWe_DWiUwlEugQg?size=1280x960&size_mode=3></img> </div>
                  <div> <img class='owl-item' alt=torem height=320 width="100%" src=https://photos-2.dropbox.com/t/2/AAAloY4XU6tOyTsxH5EaE8kbGlk2ap8aOKOETqAj-UXlfw/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2048%2032%20PM.jpg/ELiZ-YACGNsKIAcoBw/LO7mgaDSBXH49mdZXJrM82VVbvOgPDMM7B1W_9G1l74?size=1280x960&size_mode=3></img> </div>
                  <div> <img class='owl-item' alt=toki height=320 width="100%" src=https://photos-4.dropbox.com/t/2/AABwff8IHYOZyndblkvPAEF-9RmWf4RpJ-7CPh6016FNfA/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2055%2007%20PM.jpg/ELiZ-YACGNsKIAcoBw/AXyogC1O3A5yZw7_x3EJIiWYnGp5bngSxmtV4wbBru0?size=1280x960&size_mode=3></img> </div>
                  <div> <img class='owl-item' alt=dori height=293 width="100%" src=https://photos-4.dropbox.com/t/2/AADUJZgdWS6eujIi36FOrfPBVHzybotdIFMAKLSSDRd4Tg/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2048%2054%20PM.jpg/ELiZ-YACGNsKIAcoBw/3C4oo48aUkQTpSkSd59KZEwGtDuXmH9RmGItePb0va0?size=1280x960&size_mode=3></img> </div>
                  <div> <img class='owl-item' alt=stef height=320 width="100%" src=https://photos-6.dropbox.com/t/2/AACJcgo_FyzfB-oTX8eAWl14BCMjwQgWQSIUk1e9VSCuDw/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2055%2005%20PM.jpg/ELiZ-YACGNsKIAcoBw/07Gy2D2veZyyE_GdtmWsz4y1-t67pihz_xp_FG4hWNc?size=1280x960&size_mode=3></img> </div>
                  <div> <img class='owl-item' alt=asdf height=320 width="100%" src=https://photos-1.dropbox.com/t/2/AAAQ_brwrc3ndVb4sAWD1DOo__gGXPjjgvouKZmygmx4BQ/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2005%2C%2012%2026%2047%20AM.jpg/ELiZ-YACGOEKIAcoBw/Y151-c7SX0ZA7u-R0H8NDVKGzr8g4FlTPCNEVdHCyoc?size=2048x1536&size_mode=3></img> </div>
            </div> -->
            
        </div>
    </body>
    <div class=push>
        
    </div>
</div
<div class="footer">
<center>

</center>
</div>


