<div class="wrapper">
    <body>
        <div class="home-callout text-center container-fluid">
            <div id="home-text">
                <h2>Brendan Olcese's Life of Procrastination</h2>
                <h3>A Personal Information Page about the life of Brendan Olcese and his battle with Procrastination</h3>
            </div>
            <div id="owl-example" class="owl-carousel owl-theme">
                  <div> <img id=p1 alt=renato height="320" width="334" src=https://photos-4.dropbox.com/t/2/AAB6eYqJW015xu_zQkoMKg80eybRuROgO-xw_jVzapvHZA/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2055%2014%20PM.jpg/ELiZ-YACGNsKIAcoBw/zpnPPunYEFZ9-732e6_iXLDb2UI7-NXRUi0CYhDkkHQ?size=1280x960&size_mode=3></img> </div>
                  <div> <img id=p2 alt=sala height="284" width="413" src=https://photos-4.dropbox.com/t/2/AABZ2hgF9gB_ai9-jt-d9Ydnj7zPiUmH9ufGEBD0XssFdg/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2048%2036%20PM.jpg/ELiZ-YACGNsKIAcoBw/4kqkLPgw7eNSh5Zug_vJP-EPZ8jHaStUTq1PWZRCC-A?size=1280x960&size_mode=3></img> </div>
                  <div> <img id=p3 alt=que height="320" width="404"  src=https://photos-5.dropbox.com/t/2/AABGxaFIbqPTAiq5G9Lr9cr08eRhb0oiHEL5Y1TXvsCsyQ/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2055%2003%20PM.jpg/ELiZ-YACGNsKIAcoBw/TEcG-FCPVZqKF_XQnCE5ecg62iT_FWe_DWiUwlEugQg?size=1280x960&size_mode=3></img> </div>
                  <div> <img id=p4 alt=torem height=320 width=358 src=https://photos-2.dropbox.com/t/2/AAAloY4XU6tOyTsxH5EaE8kbGlk2ap8aOKOETqAj-UXlfw/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2048%2032%20PM.jpg/ELiZ-YACGNsKIAcoBw/LO7mgaDSBXH49mdZXJrM82VVbvOgPDMM7B1W_9G1l74?size=1280x960&size_mode=3></img> </div>
                  <div> <img id=p5 alt=toki height=320 width=408 src=https://photos-4.dropbox.com/t/2/AABwff8IHYOZyndblkvPAEF-9RmWf4RpJ-7CPh6016FNfA/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2055%2007%20PM.jpg/ELiZ-YACGNsKIAcoBw/AXyogC1O3A5yZw7_x3EJIiWYnGp5bngSxmtV4wbBru0?size=1280x960&size_mode=3></img> </div>
                  <div> <img id=p6 alt=dori height=293 width=414 src=https://photos-4.dropbox.com/t/2/AADUJZgdWS6eujIi36FOrfPBVHzybotdIFMAKLSSDRd4Tg/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2048%2054%20PM.jpg/ELiZ-YACGNsKIAcoBw/3C4oo48aUkQTpSkSd59KZEwGtDuXmH9RmGItePb0va0?size=1280x960&size_mode=3></img> </div>
                  <div> <img id=p7 alt=stef height=320 width=413 src=https://photos-6.dropbox.com/t/2/AACJcgo_FyzfB-oTX8eAWl14BCMjwQgWQSIUk1e9VSCuDw/12/271272838/jpeg/32x32/1/_/1/2/Photo%20May%2002%2C%208%2055%2005%20PM.jpg/ELiZ-YACGNsKIAcoBw/07Gy2D2veZyyE_GdtmWsz4y1-t67pihz_xp_FG4hWNc?size=1280x960&size_mode=3></img> </div>
            </div>
    <script type="text/javascript">
        jQuery(document).ready(function(){
        jQuery("#owl-example").owlCarousel();
        });
        
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:4,
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:1000,
            autoplayHoverPause:true
        });
        $('.play').on('click',function(){
            owl.trigger('play.owl.autoplay',[1000])
        })
        $('.stop').on('click',function(){
            owl.trigger('stop.owl.autoplay')
        })
    </script>
        </div>
    </body>
    <div class=push>
        
    </div>
</div
<div class="footer">
<center>

</center>
</div>
<script src="/saasapp/node_modules/owl.carousel/src/js/owl.carousel.js"
