<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1"></a></li>
        <li><a href="#section2"></a></li>
        <li><a href="#section3"></a></li>
        <li><a href="#section3"></a></li>
      </ul><br>
      <div class="input-group">
        
        <span class="input-group-btn">
          
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9">
      
      <hr>
      <h2>Inital Commit</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Brendan Olcese, April 27, 2017.</h5>
      <h5> <span class="label label-primary">Ipsum</span></h5><br>
     <p>Started my Website Design. Initial thought is its going to be a dummy company. Itll be called "devmatch", a company to match web developers to hiring companies.<br> 
      The company is completely hypotheical. So far I generated the Files needed. Im going to be doing this on the coding language "Ruby on Rails" and ill use "gems" <br>
      to get this done quicker.</p>
      <br><br>
      
      
      <hr>
      <h2>Second Commit</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Brendan Olcese, April 28, 2017.</h5>
      <h5><span class="label label-success">Lorem</span></h5><br>
      <p>I sketched the layout to my website in a notebook. There will be a navigation bar and three other pages before the main page. Im not going to go with the hypothetical
      <br>company because I know Mr. Block will make fun of me. Instead it'll be a personal info website about me. So far Ive added a bootstrap
      <br>from twitter so the layout will be simpler. I also add a background gradient because the white is boring. </p>
      <hr>

        <hr>
      <h2>Third Commit</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Brendan Olcese, April 29, 2017.</h5>
      <h5><span class="label label-success">Lorem</span></h5><br>
      <p>So far today Ive added a navigation bar using a "gem" file which is basically an add-on. Ive also changed some of the more boring fonts to better ones using google fonts, 
      <br>a database thousands of fonts. Finally I added some more pages such as an about page, a home page, and a past work page as well 
      as routes to get to these pages </p>
      <hr>
      
       <hr>
      <h2>Forth Commit</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Brendan Olcese, April 31, 2017.</h5>
      <h5><span class="label label-success">Lorem</span></h5><br>
      <p> I didnt work on the project yesterday, it was getting to difficult. Ive changed some of the CSS, another coding language for the asthetics of the page, of the home page only.<br>
      Ill do the other pages tommorrow. Ive noticed a pretty simple pattern to the change code on the site.
      It starts with what I want to change, then I google it, and after a few documentation
      <br>readings I found out how to do it.</p>
      <hr>
      
      <hr>
      <h2>Fifth Commit</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Brendan Olcese, May 1st, 2017.</h5>
      <h5><span class="label label-success">Lorem</span></h5><br>
      <p> Today I focused on the asthetics of the site. It looked too mechanical before. I changed the navbar style and added another gem to pick out icons for my links called
      <br>"Font Awesome". Also I changed the way the links work so they wont break on me when I have to navigate the site when 
      presenting. This is starting to get really 
      <br>technical and every time I change something im afraid something else will break. </p>
      <hr>
      
      <hr>
      <h2>Sixth Commit</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Brendan Olcese, May 2nd, 2017.</h5>
      <h5><span class="label label-success">Lorem</span></h5><br>
      <p> Three more days until this is due. I threw my name in the top left corner and changed the logo and font of it. Looks pretty professional. I also added a social media gem
      <br>so I can link to my instagram and twitter and stuff. That'll
      be in the top right. I can tell that this is really helping me learn. I alreadsy have some code memorized</p>
      <hr>
      
      <hr>
      <h2>Seventh Commit</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Brendan Olcese, May 3rd, 2017.</h5>
      <h5><span class="label label-success">Lorem</span></h5><br>
      <p> Did lots of work today, still a lot to go. First off im pretty much finished with the about page, its just a text blurb explaining the site, all HTML. Next I added a "contact me" form,
      <br>a page for the form and a route for the page from the homepage.
      That was all simple. I also started my Java Script stuff today. I added a JS Plugin to have an image slideshow on the main 
      <br>page. Its called owl-carousel and Ive never had such a hard time getting anything to work. I had to reset to another save like 4 times. The damn thing 
      still doesnt work properally but whatever. </p>
      <hr>
      
      <hr>
      <h2>Eigth Commit</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Brendan Olcese, May 4th, 2017.</h5>
      <h5><span class="label label-success">Lorem</span></h5><br>
      <p> Projects due tommorrow. Ill finish in time. I screwed with the image slider again and its doing a little better now. I added some margin spacing on the home page so it looks more 
      <br>professional. I added a resume to the resume page and I go rid of the past work and 
      acheivements page. Made an intrests and hobbies page with a BACKGROUND IMAGE SLIDER. Im very proud of that. 
      <br>Its all CSS, no JavaScript at all. I tried using a JS Plugin but it broke so I used CSS. So now im going to add a blog page for these journal entires
      and finish the presentation.</p>
      <hr>
      
      
      
              
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>

</body>
</html>