<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<div>
<center><iframe id=res src="https://docs.google.com/document/d/1ZRz4q-c01g4qpBkC9mV9DmGtEe-SgNG9LR5GJ-ZQe1Q/pub?embedded=true" width=720 height=1090></iframe></center>
</div>
<a href="https://docs.google.com/document/d/1ZRz4q-c01g4qpBkC9mV9DmGtEe-SgNG9LR5GJ-ZQe1Q/pub?embedded=true" download=""><i class=fa-file-pdf-o></i>asd a</a>